<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.ClassStudentMapper">

  <sql id="Base_Column_List">id, class_id, stu_id, join_time, is_quit, quit_type, is_rejoin, quit_time, qr_code</sql>

  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PrClassStudent">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="class_id" property="classId" jdbcType="INTEGER"/>
      <result column="stu_id" property="stuId" jdbcType="INTEGER"/>
      <result column="join_time" property="joinTime" jdbcType="TIMESTAMP"/>
      <result column="is_quit" property="isQuit" jdbcType="TINYINT"/>
      <result column="quit_type" property="quitType" jdbcType="TINYINT"/>
      <result column="is_rejoin" property="isRejoin" jdbcType="TINYINT"/>
      <result column="quit_time" property="quitTime" jdbcType="TIMESTAMP"/>
      <result column="qr_code" property="QRCode" jdbcType="VARCHAR"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pr_class_student
        where id = #{id} and is_delete != 1
    </select>

    <select id="getByClassIdStuId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pr_class_student
        where class_id = #{classId} and stu_id = #{stuId} and is_delete != 1
        limit 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PrClassStudent">
        insert into pr_class_student(
        class_id, stu_id, join_time
        )
        values(
        #{classId}, #{stuId}, #{joinTime}
        )
    </insert>

    <update id="delete" parameterType="java.lang.Integer">
        update pr_class_student set is_delete = 1 where id=#{id}
    </update>

    <select id="countQuitStuForToday" resultType="java.lang.Integer">
        select count(id) from pr_class_student
        where is_delete != 1 and is_quit = 1 and class_id = #{classId}
        and to_days(quit_time) = to_days(now())
    </select>

    <select id="listByClassId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pr_class_student
        where class_id = #{classId} and is_delete != 1 and is_quit != 1
    </select>

    <update id="update" parameterType="com.koolearn.club.entity.PrClassStudent">
        update pr_class_student
        set is_quit = #{isQuit},
        quit_type = #{quitType},
        is_rejoin = #{isRejoin},
        quit_time = #{quitTime}
        where id=#{id}
    </update>


    <update id="updateQRCodeUrl">
        update pr_class_student
        set qr_code = #{url}
        where id=#{id}
    </update>



</mapper>
