<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.ClassShareRecordMapper">

  <sql id="Base_Column_List">id, class_id,stu_id,create_time</sql>

  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeClassShareRecord">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="class_id" property="classId" jdbcType="INTEGER"/>
      <result column="stu_id" property="stuId" jdbcType="INTEGER"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
  </resultMap>



    <select id="get" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_share_record
        where class_id = #{classId} and stu_id = #{stuId}
    </select>


    <select id="getList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_share_record
        where class_id = #{classId}
        order by create_time DESC
        limit #{offset},#{pageSize}
    </select>

    <select id="getListCount" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_share_record
        where class_id = #{classId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeClassShareRecord">
        insert into pe_class_share_record(class_id,stu_id,create_time)
        values(#{classId}, #{stuId}, #{createTime})
    </insert>

</mapper>
