<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.ClassMarkMapper">
  <sql id="Base_Column_List">id, stu_id, class_id, star_level, content, create_time, update_time</sql>
  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeClassMark">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="stu_id" property="stuId" jdbcType="INTEGER"/>
      <result column="class_id" property="classId" jdbcType="INTEGER"/>
      <result column="star_level" property="starLevel" jdbcType="TINYINT"/>
      <result column="content" property="content" jdbcType="VARCHAR"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_mark
        where id=#{id} and is_delete != 1
    </select>

    <select id="listByClassId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_mark
        where class_id=#{classId} and is_delete != 1
        order by create_time desc
        limit #{offset},#{pageSize}
    </select>

    <select id="countByClassId" resultType="java.lang.Integer">
        select count(id) from pe_class_mark
        where is_delete !=1 and class_id=#{classId}
    </select>

</mapper>
