<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.ClassContentMapper">
  <sql id="Base_Column_List">id, content, resource_ids, create_time, update_time</sql>
  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeClassContent">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="content" property="content" jdbcType="VARCHAR"/>
      <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_content
        where id=#{id} and is_delete != 1
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeClassContent">
        insert into pe_class_content(
        content, resource_ids, create_time
        )
        values(
        #{content}, #{resourceIds}, #{createTime}
        )
    </insert>


    <update id="update" parameterType="com.koolearn.club.entity.PeClassContent">
        update pe_class_content
        set content = #{content},
        resource_ids = #{resourceIds}
        where id=#{id}
    </update>

</mapper>
