<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.ClassNoticeMapper">
  <sql id="Base_Column_List">id, class_id, content, resource_ids, publish_time</sql>
  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeClassNotice">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="class_id" property="classId" jdbcType="INTEGER"/>
      <result column="content" property="content" jdbcType="VARCHAR"/>
      <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR"/>
      <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_notice
        where id=#{id} and is_delete != 1
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeClassNotice">
        insert into pe_class_notice(
        class_id, content, resource_ids, publish_time
        )
        values(
        #{classId}, #{content}, #{resourceIds}, #{publishTime}
        )
    </insert>

    <select id="listByClassId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_notice
        where class_id=#{classId} and is_delete != 1
        order by publish_time desc
    </select>


    <select id="listByClassIdForPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_class_notice
        where class_id=#{classId} and is_delete != 1
        order by publish_time desc
        limit #{offset},#{pageSize}
    </select>


    <select id="countByClassIdForPage" resultType="java.lang.Integer">
        select count(id) from pe_class_notice
        where class_id=#{classId} and is_delete != 1
    </select>


    <update id="update">
        update pe_class_notice
        set content = #{content},
        resource_ids = #{resourceIds}
        where id=#{id}
    </update>

</mapper>
