<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.DaySignMapper">

  <sql id="Base_Column_List">id, content, avoid, suit, author</sql>

  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeDaySign">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="content" property="content" jdbcType="VARCHAR"/>
      <result column="avoid" property="avoid" jdbcType="VARCHAR"/>
      <result column="suit" property="suit" jdbcType="VARCHAR"/>
      <result column="author" property="author" jdbcType="VARCHAR"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_day_sign
        where id=#{id} and is_delete != 1
    </select>

    <select id="listNotUse" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_day_sign
        where id not in (select day_sign_id from pe_day_sign_record where DATE_FORMAT(create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m'))
        and is_delete != 1
    </select>

    <insert id="insertRecord" useGeneratedKeys="true" keyProperty="id"  parameterType="com.koolearn.club.entity.PeDaySignRecord">
        insert into pe_day_sign_record(
        day_sign_id, create_time
        )
        values(
        #{daySignId}, #{createTime}
        )
    </insert>

    <select id="getCurrentDaySign" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_day_sign
        where id = (select day_sign_id from pe_day_sign_record where to_days(create_time) = to_days(now()) limit 1)
        and is_delete != 1
    </select>

</mapper>
