<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koolearn.club.mapper.DrawAwardItemMapper">

    <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeDrawAwardItem">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="total_num" property="totalNum" jdbcType="INTEGER"/>
        <result column="probability" property="probability" jdbcType="FLOAT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="award_id" property="awardId" jdbcType="INTEGER"/>
        <result column="day_total_num" property="dayTotalNum" jdbcType="INTEGER"/>
        <result column="user_total_num" property="UserTotalNum" jdbcType="INTEGER"/>
        <result column="every_user_day_total_num" property="everyUserDayTotalNum" jdbcType="INTEGER"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,activity_id, item_name, total_num, probability, status, award_id, day_total_num,user_total_num,every_user_day_total_num, level,create_time
  </sql>

    <select id="queryAwardItem" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from pe_award_item where status= 1
    </select>

    <select id="queryAwardItemByActivityId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pe_award_item where activity_id= #{activityId} AND status = 1
    </select>

    <select id="queryAwardItemNoDefaulByActivityId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pe_award_item where activity_id= #{activityId} AND status = 1 AND item_name!='未中奖'
    </select>


    <select id="queryAwardItemById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pe_award_item where id= #{id} AND status = 1
    </select>

    <insert id="addAwardItem" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.koolearn.club.entity.PeDrawAwardItem">
    insert into pe_award_item(
   activity_id, item_name, total_num, probability, status, award_id, day_total_num,user_total_num,every_user_day_total_num, level,create_time
    )
    values(
    #{activityId}, #{itemName}, #{totalNum},#{probability},#{status},#{awardId},#{dayTotalNum},#{userTotalNum},#{everyUserDayTotalNum},#{level},#{createTime}
    )
  </insert>

    <update id="editAwardItem" parameterType="com.koolearn.club.entity.PeDrawAwardItem">
        update pe_award_item
        <set>
            <if test="itemName!=null and itemName!=''">item_name=#{itemName},</if>
            <if test="totalNum!=null">total_num=#{totalNum},</if>
            <if test="probability!=null">probability=#{probability},</if>
            <if test="status!=null ">status=#{status},</if>
            <if test="dayTotalNum!=null">day_total_num=#{dayTotalNum},</if>
            <if test="everyUserDayTotalNum!=null ">every_user_day_total_num=#{everyUserDayTotalNum},</if>
            <if test="userTotalNum!=null ">user_total_num=#{userTotalNum},</if>
            <if test="awardId!=null ">award_id=#{awardId},</if>
            <if test="level!=null ">level=#{level},</if>
            <if test="createTime!=null and createTime!=''">create_time=#{createTime},</if>
        </set>
        where id =#{id}
    </update>

    <update id="updateAwardItemTotalNum" parameterType="com.koolearn.club.entity.PeDrawAwardItem">
        update pe_award_item
        <set>
            <if test="totalNum!=null">total_num = (total_num - 1),</if>
        </set>
        where id =#{id} AND (total_num -1) >= 0
    </update>

</mapper>