<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.DrawRecordMapper">


    <sql id="Base_Column_List">id, activity_id, uid, `name`, mobile, postal_inc, postal_code, address, remarks, award_name,award_item_id, award_item_name, create_time</sql>

    <sql id="Relation_Column_List">a.id, a.activity_id, a.uid, a.name, a.mobile, a.postal_inc, a.postal_code, a.address, a.remarks, a.award_name,a.award_item_id, a.award_item_name, a.create_time</sql>

    <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeDrawRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="postal_inc" property="postalInc" jdbcType="VARCHAR"/>
        <result column="postal_code" property="postalCode" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="award_name" property="awardName" jdbcType="VARCHAR"/>
        <result column="award_item_id" property="awardItemId" jdbcType="INTEGER"/>
        <result column="award_item_name" property="awardItemName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!-- 插入中奖记录-->
    <insert id="addActDrawRecord" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.koolearn.club.entity.PeDrawRecord">
            INSERT INTO pe_award_record
            (activity_id,uid,Level,award_name,award_item_id,award_item_name,create_time)
            VALUES (#{activityId},#{uid},#{level},#{awardName},#{awardItemId},#{awardItemName},#{createTime})
    </insert>


    <select id="listForWebapp" resultMap="BaseResultMap">
        select
        <include refid="Relation_Column_List"/>
        from pe_award_record a
        left join pe_student b on a.uid = b.id
        <where>
            a.activity_id = #{activityId} and a.award_item_name != '未中奖'
            <if test="startCreateTime != null and startCreateTime != ''">and a.create_time &gt;= #{startCreateTime}</if>
            <if test="endCreateTime != null and endCreateTime != ''">and a.create_time &lt;= #{endCreateTime}</if>
            <if test="mobile != null and mobile != ''">and a.mobile = #{mobile}</if>
            <if test="nickname != null and nickname != ''">and b.nickname like CONCAT('%',#{nickname},'%')</if>
            <if test="awardName != null and awardName != ''">and a.award_name like CONCAT('%',#{awardName},'%')</if>
            <if test="address != null and address != ''">and a.address like CONCAT('%',#{address},'%')</if>
        </where>
        order by a.create_time desc
        limit #{offset},#{pageSize}
    </select>


    <select id="countForWebapp" resultType="java.lang.Integer">
        select
        count(a.id)
        from pe_award_record a
        left join pe_student b on a.uid = b.id
        <where>
            a.activity_id = #{activityId} and a.award_item_name != '未中奖'
            <if test="startCreateTime != null and startCreateTime != ''">and a.create_time &gt;= #{startCreateTime}</if>
            <if test="endCreateTime != null and endCreateTime != ''">and a.create_time &lt;= #{endCreateTime}</if>
            <if test="mobile != null and mobile != ''">and a.mobile = #{mobile}</if>
            <if test="nickname != null and nickname != ''">and b.nickname like CONCAT('%',#{nickname},'%')</if>
            <if test="awardName != null and awardName != ''">and a.award_name like CONCAT('%',#{awardName},'%')</if>
            <if test="address != null and address != ''">and a.address like CONCAT('%',#{address},'%')</if>
        </where>
    </select>

    <select id="listAllForWebapp" resultMap="BaseResultMap">
        select
        <include refid="Relation_Column_List"/>
        from pe_award_record a
        left join pe_student b on a.uid = b.id
        <where>
            a.activity_id = #{activityId} and a.award_item_name != '未中奖'
            <if test="startCreateTime != null and startCreateTime != ''">and a.create_time &gt;= #{startCreateTime}</if>
            <if test="endCreateTime != null and endCreateTime != ''">and a.create_time &lt;= #{endCreateTime}</if>
            <if test="mobile != null and mobile != ''">and a.mobile = #{mobile}</if>
            <if test="nickname != null and nickname != ''">and b.nickname like CONCAT('%',#{nickname},'%')</if>
            <if test="awardName != null and awardName != ''">and a.award_name like CONCAT('%',#{awardName},'%')</if>
            <if test="address != null and address != ''">and a.address like CONCAT('%',#{address},'%')</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getPeDrawRecordListByUserId" parameterType="com.koolearn.club.dto.award.CheckAwardReqDTO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_award_record
        <where>
            <if test=" stuId != null">
                AND uid = #{stuId}
            </if>
            <if test=" activityId != null">
                AND activity_id = #{activityId} AND to_days(create_time) = to_days(now())
            </if>
        </where>
    </select>

    <select id="getPeDrawRecordById" parameterType="com.koolearn.club.dto.award.UpdateAwardRecordReqDTO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_award_record WHERE id=#{drawRecordId}
    </select>

    <update id="updateAwardRecord" parameterType="com.koolearn.club.dto.award.UpdateAwardRecordReqDTO">
        update pe_award_record
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="mobile!=null and mobile!=''">mobile=#{mobile},</if>
            <if test="address!=null and address!=''">address=#{address},</if>
            <if test="postalCode!=null  and postalCode!=''">postal_code=#{postalCode},</if>
            <if test="remarks!=null  and remarks!=''">remarks=#{remarks},</if>
        </set>
        where id =#{drawRecordId}
    </update>

    <select id="awardRecordList" parameterType="com.koolearn.club.dto.award.AppAwardRecordListReqDTO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_award_record
        <where>
            <if test=" stuId != null">
                AND uid = #{stuId} AND award_item_name!='未中奖'
            </if>
            <if test="classId != null">
                AND activity_id IN (SELECT id FROM pe_activity WHERE class_id = #{classId})
            </if>
        </where>
        order by create_time desc
        limit #{offset},#{pageSize}
    </select>

    <select id="awardRecordListCount" resultType="java.lang.Integer"
            parameterType="com.koolearn.club.dto.award.AppAwardRecordListReqDTO">
        select
        count(id)
        from pe_award_record
        <where>
            <if test="stuId != null">
                AND uid = #{stuId} AND award_item_name!='未中奖'
            </if>
            <if test="classId != null">
                AND activity_id IN (SELECT id FROM pe_activity WHERE class_id = #{classId})
            </if>
        </where>
    </select>

    <select id="totalNumByStuIdAndItemId" resultType="java.lang.Integer">
        select
        count(id)
        from pe_award_record
        <where>
            <if test="stuId != null">
                AND uid = #{stuId}
            </if>
            <if test="awardItemId != null">
                AND award_item_id=#{awardItemId}
            </if>
        </where>
    </select>

    <select id="totalNumByItemId" resultType="java.lang.Integer">
        select
        count(id)
        from pe_award_record
        <where>
            <if test="awardItemId != null">
                AND award_item_id=#{awardItemId} AND to_days(create_time) = to_days(now())
            </if>
        </where>
    </select>

    <select id="joinUserTotal" resultType="java.lang.Integer">
        select COUNT(b.uid) FROM (select DISTINCT a.uid from pe_award_record a WHERE a.activity_id = #{activityId}) b;
    </select>

    <select id="joinTotal" resultType="java.lang.Integer">
        select count(id) from pe_award_record WHERE activity_id = #{activityId}
    </select>

    <select id="todayJoinUserTotal" resultType="java.lang.Integer">
        select COUNT(b.uid) FROM (select DISTINCT a.uid from pe_award_record a WHERE a.activity_id = #{activityId} AND to_days(a.create_time) = to_days(now())) b;
    </select>

    <select id="todayJoinTotal" resultType="java.lang.Integer">
        select count(id) from pe_award_record WHERE activity_id = #{activityId} AND to_days(create_time) = to_days(now())
    </select>

</mapper>
