<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koolearn.club.mapper.DrawAwardMapper">
    <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeDrawAward">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="teach_id" property="teachId" jdbcType="INTEGER"/>
        <result column="award_name" property="awardName" jdbcType="VARCHAR"/>
        <result column="award_info" property="awardInfo" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="award_type" property="awardType" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="grant_count" property="grantCount" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, teach_id,award_name, award_info,price, img_url,award_type, create_time,status,grant_count
  </sql>

    <select id="queryAwardById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_award where id=#{id}
    </select>

    <insert id="addAward" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeDrawAward">
    insert into pe_award(
     teach_id,award_name, award_info,price, img_url,award_type, create_time,status,grant_count
    )
    values(
    #{teachId}, #{awardName}, #{awardInfo},#{price},#{imgUrl},#{awardType},#{createTime},#{status},#{grantCount}
    )
  </insert>

    <select id="getAwardListByTeach" parameterType="com.koolearn.club.dto.award.AwardListReqDTO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_award
        <where>
            <if test="teachId != null ">
                AND teach_id = #{teachId}
            </if>
        </where>
        order by create_time desc limit #{offset},#{pageSize}
    </select>


    <select id="getAwardListCountByTeach" parameterType="com.koolearn.club.dto.award.AwardListReqDTO"
            resultType="java.lang.Integer">
        select count(id) from pe_award
        <where>
            <if test=" teachId != null and teachId!= ''">
                AND teach_id = #{teachId}
            </if>
        </where>
    </select>

    <update id="editAward" parameterType="com.koolearn.club.dto.award.AwardEditReqDTO">
        update pe_award
        <set>
            <if test="awardName!=null and awardName!=''">award_name=#{awardName},</if>
            <if test="awardInfo!=null and awardInfo!=''">award_info=#{awardInfo},</if>
            <if test="price!=null and price!=''">price=#{price},</if>
            <if test="imgUrl!=null and imgUrl!=''">img_url=#{imgUrl},</if>
            <if test="awardType!=null">award_type=#{awardType},</if>
            <if test="status!=null ">status=#{status},</if>
        </set>
        where id =#{id}
    </update>

    <update id="updateGrantCount" parameterType="java.lang.Integer">
        update pe_award  set grant_count = (grant_count+1) where id =#{awardId}
    </update>


    <select id="simpleActivityList" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_award
        <where>
            <if test="teachId != null">
                AND teach_id = #{teachId} AND status= 1
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>