<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.IdentifyingCodeMapper">

  <sql id="Base_Column_List">id, user_name, phone_no, remarks, type, status, code, create_time, update_time</sql>


  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeIdentifyingCode">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="user_name" property="userName" jdbcType="VARCHAR"/>
      <result column="phone_no" property="phoneNo" jdbcType="VARCHAR"/>
      <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
      <result column="type" property="type" jdbcType="TINYINT"/>
      <result column="status" property="status" jdbcType="TINYINT"/>
      <result column="code" property="code" jdbcType="VARCHAR"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>


    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_identifying_code
        where id=#{id}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_identifying_code
        <where>
            <if test="identifyingCode.userName != null and identifyingCode.userName != ''">
                user_name=#{identifyingCode.userName}
            </if>
            <if test="identifyingCode.phoneNo != null and identifyingCode.phoneNo != ''">
                AND phone_no=#{identifyingCode.phoneNo}
            </if>
        </where>
        limit #{identifyingCode.offset},#{identifyingCode.pageSize}
    </select>

    <select id="listCount" resultType="java.lang.Integer">
        select count(id) from pe_identifying_code
        <where>
            <if test="identifyingCode.userName != null and identifyingCode.userName != ''">
                user_name=#{identifyingCode.userName}
            </if>
            <if test="identifyingCode.phoneNo != null and identifyingCode.phoneNo != ''">
                AND phone_no=#{identifyingCode.phoneNo}
            </if>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="identifyingCode.id" parameterType="com.koolearn.club.entity.PeIdentifyingCode" >
        insert into pe_identifying_code(
        user_name, phone_no, remarks, type ,status, code, create_time
        )
        values(
        #{identifyingCode.userName}, #{identifyingCode.phoneNo},
        #{identifyingCode.remarks},#{identifyingCode.type}
        , #{identifyingCode.status},
        #{identifyingCode.code}, #{identifyingCode.createTime}
        )
    </insert>

    <select id="checkCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_identifying_code
        <where>
            <if test="code != null and code != ''">
               code=#{code}
            </if>
        </where>
        limit 1
    </select>

    <update id="updateStatus">
        update pe_identifying_code
        set status = #{identifyingCode.status}
        where id=#{identifyingCode.id}
    </update>

</mapper>
