<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.LearningPraiseMapper">
  <sql id="Base_Column_List">id, stu_id, learning_id, `type`,create_time</sql>
  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeLearningPraise">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="stu_id" property="stuId" jdbcType="INTEGER"/>
      <result column="learning_id" property="learningId" jdbcType="INTEGER"/>
      <result column="type" property="type" jdbcType="TINYINT"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_learning_praise
        where id=#{id} and is_delete != 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeLearningPraise">
        insert into pe_learning_praise(
        stu_id, learning_id, `type`, create_time
        )
        values(
        #{stuId}, #{learningId}, #{type}, #{createTime}
        )
    </insert>


    <select id="getByStuIdLearningId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_learning_praise
        where stu_id=#{stuId} and learning_id=#{learningId} and is_delete != 1
        limit 1
    </select>

    <select id="listByLearningId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_learning_praise
        where learning_id=#{learningId} and is_delete != 1
    </select>

    <update id="deleteByLearningId" parameterType="java.lang.Integer">
        update pe_learning_praise
        set is_delete = 1
        where learning_id = #{learningId}
    </update>


</mapper>
