<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koolearn.club.mapper.RedPocketRuleMapper">

    <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeRedPocketRule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="every_day_amount" property="everyDayAmount" jdbcType="DECIMAL"/>
        <result column="standard_amount" property="standardAmount" jdbcType="DECIMAL"/>
        <result column="floating_amount" property="floatingAmount" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      id,activity_id, status, every_day_amount, standard_amount, floating_amount, create_time, update_time
    </sql>

    <insert id="addRedPocketRule" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.koolearn.club.entity.PeRedPocketRule">
    insert into pe_red_pocket_rule(activity_id, status, every_day_amount, standard_amount, floating_amount, create_time)
    values(#{activityId},#{status}, #{everyDayAmount}, #{standardAmount}, #{floatingAmount},#{createTime})
    </insert>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pe_red_pocket_rule where id = #{id} AND status = 1
    </select>


    <select id="findByActivityId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pe_red_pocket_rule where activity_id = #{activityId} AND status = 1
    </select>

    <update id="editRedPocketRule" parameterType="com.koolearn.club.entity.PeRedPocketRule">
        update pe_red_pocket_rule
        <set>
            <if test="everyDayAmount!=null">every_day_amount=#{everyDayAmount},</if>
            <if test="standardAmount!=null">standard_amount=#{standardAmount},</if>
            <if test="floatingAmount!=null">floating_amount=#{floatingAmount},</if>
            <if test="status!=null ">status=#{status},</if>
            <if test="updateTime!=null and updateTime!=''">update_time=#{updateTime},</if>
        </set>
        where id =#{id}
    </update>


</mapper>