<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.SquareMapper">

  <sql id="Base_Column_List">id, class_id, sn, join_time, update_time</sql>

  <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeSquare">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="class_id" property="classId" jdbcType="INTEGER"/>
      <result column="sn" property="sn" jdbcType="TINYINT"/>
      <result column="join_time" property="joinTime" jdbcType="TIMESTAMP"/>
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_square
        where id=#{id} and is_delete != 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeSquare">
        insert into pe_square(
        class_id, sn, join_time
        )
        values(
        #{classId}, #{sn}, #{joinTime}
        )
    </insert>


    <select id="listSquareForManage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_square
        where is_delete != 1
        order by sn asc, join_time desc
        limit #{offset},#{pageSize}
    </select>


    <select id="countSquareForManage" resultType="java.lang.Integer">
        select
        count(id)
        from pe_square
        where is_delete != 1
    </select>


    <select id="getMaxSn" resultType="java.lang.Integer">
        select
        max(sn)
        from pe_square
        where is_delete != 1
    </select>

    <select id="getByClassId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from pe_square
        where class_id=#{classId} and is_delete != 1
        limit 1
    </select>


    <update id="delete">
        update pe_square
        set sn = #{maxSn},
        is_delete = 1
        where id=#{id}
    </update>

    <update id="refreshSn">
        update pe_square
        set sn = sn - 1
        where sn &gt; #{sn} and is_delete != 1 and sn != #{maxSn}
    </update>

    <update id="update">
        update pe_square
        set sn = #{sn}
        where id=#{id}
    </update>


    <select id="listClassForStu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_square
        where is_delete != 1
        order by sn asc, join_time desc
    </select>

</mapper>
