<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koolearn.club.mapper.StudentAccountMapper">
    <sql id="Base_Column_List">id, uid, blance, create_time, update_time</sql>

    <sql id="Relation_Column_List">a.id, a.uid, a.blance, a.create_time, a.update_time</sql>


    <resultMap id="BaseResultMap" type="com.koolearn.club.entity.PeStudentAccount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="blance" property="blance" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getStudentAccount" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pe_student_account
        where uid=#{stuId}
    </select>


    <insert id="addStudentAccount" useGeneratedKeys="true" keyProperty="id" parameterType="com.koolearn.club.entity.PeStudentAccount">
        insert into pe_student_account(uid, blance, create_time) values (#{uid}, #{blance}, #{createTime})
    </insert>

    <update id="updateStudentAccount">
        update pe_student_account  set blance = (blance + #{redPocketAmount}), update_time = #{peStudentAccount.updateTime} where uid = #{peStudentAccount.uid}
    </update>

</mapper>
